@using System.Net.Mime
@model IQueryable<Ledneko.Domain.Entities.Catalog>

@{
    ViewBag.Title = "Просмотр каталогов";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.CurrentTab = "Catalogs";
    const int descLength = 50;
}

<h2>Список каталогов</h2>

@if (Model == null)
{
    <h1 class="text-muted">Пусто</h1>
}
else
{
<table>
    <thead>
        <th>Название</th>
        <th>Краткое описание</th>
        <th>Редактировать строку</th>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
               
                 <td>@cat.Name</td>
                <td>@(cat.Description != null ? cat.Description.Substring(0, cat.Description.Length > descLength ? descLength : cat.Description.Length) +".." : "Пусто")</td>
                <td>
                    @Html.ActionLink("редактировать", "Catalog", "Edit", new{catid=cat.Id},
                        new{@class="btn btn-success"})
                    <button class="btn btn-danger" data-catid="@cat.Id">удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
<script type="text/javascript">
    $('tbody').on('click', function (event) {
        var buttonElement = event.target;
        var catid = buttonElement.dataset['catid'];
        console.log("clicked");
        $.ajax({
            method: "POST",
            url: '@Url.Action("DeleteCatalog", "Edit")',
            data: { catid: catid }

        }).done(function (msg) {
            var rowElement = buttonElement.parentNode.parentNode;
            rowElement.parentNode.removeChild(rowElement);
        });
    });
</script>
}
}