@model String

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" 
            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img style="max-height: 40pt; max-width: 30pt;" src="/Content/adm_logo.jpg"/>
    </div>
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li @if (Model == "Solutions"){<text>class="active"</text>}>
              <a href="@Url.Action("Solutions", "List")">Список решений</a>
          </li>
          <li @if (Model == "Categories")
              {<text>class="active"</text>}>
              <a href="@Url.Action("Categories", "List")">Список категорий</a>
          </li>
          <li @if (Model == "Catalogs")
              {<text>class="active"</text>}>
              <a href="@Url.Action("Catalogs", "List")">Список каталогов</a>
          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Добавить <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="@Url.Action("Solution", "Edit")">новое решение</a></li>
            <li><a href="@Url.Action("Category", "Edit")">новая категория</a></li>
            <li><a href="@Url.Action("Catalog", "Edit")">новый каталог</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">новая услуга</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Ввести цены</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" name="Name" placeholder="Введите название">
        </div>
        <button type="submit" class="btn btn-default">Поиск</button>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>